<div ng-controller="DashboardController " >
        <mensagem valor="mensagem"></mensagem>
        <br />
        <h3>Dashboard</h3>
        <table class="table table-bordered table-responsive">
                <caption>Apostas:</caption>
                <thead>
                        <tr>
                                <th>Descrição</th>
                                <th>Data Final</th>
                                <th>Venceu ?</th>
                                <th>Ações</th>
                        </tr>
                </thead>
                <tbody>
                        <tr ng-repeat="aposta in apostas">
                                <td>{{aposta.descricao}}</td>
                                <td>{{aposta.dateFinalizacao | date:'dd/MM/yyyy'}}</td>
                                <td>-</td>
                                <td>
                                        <input type="button" class="btn btn-lg btn-info" value="Editar" ng-click="editar(aposta.id)"/>
                                        <input type="button" class="btn btn-lg btn-danger" value="Remover" ng-click="deletar(aposta.id)"/>
                                </td>
                        </tr>
                </tbody>
        </table>
        <div ng-controller="PaginationController">
            <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </div>
</div>