<div ng-controller="ApostaController">
        <mensagem valor="mensagem"></mensagem>
        <br />

        <form role="form" name="apostaForm" ng-submit="salvar()">
                <h3>Aposta</h3>
                <fieldset>
                        <div class="form-group col-md-12">
                                <label class="control-label">Descrição</label>
                                <input class="form-control" placeholder="Descrição" name="descricao" type="text" autofocus ng-model="aposta.descricao" required ng-disabled="apostaFinalizada()">
                                <span ng-class="error" ng-show="apostaForm.descricao.$error.required && apostaForm.descricao.$dirty">Descrição é obrigatório</span>
                        </div>
                        <div class="form-group col-md-12">
                                <label>Data Final</label>
                                <input class="form-control" placeholder="Data Final" id="dateFinalizacao" name="dateFinalizacao" type="text" ng-model="aposta.dateFinalizacao" required date ng-disabled="apostaFinalizada()">
                                <span ng-class="error" ng-show="apostaForm.dateFinalizacao.$error.required && apostaForm.dateFinalizacao.$dirty">Date Final é obrigatória</span>
                        </div>
                </fieldset>

                <div ng-hide="apostaFinalizada()">
                        <h3>Pessoas</h3>
                        <fieldset>
                                <div class="form-group col-md-12">
                                        <select class="form-control" name="usuario" ng-options="usu.nome for usu in usuarios track by usu.id" ng-model="palpite.usuario" >
                                                <option value="">Selecione...</option>
                                        </select>
                                </div>

                                <div class="form-group col-md-12">
                                        <label class="control-label">Palpite</label>
                                        <input class="form-control" placeholder="Palpite" name="palpite_descricao" type="text" autofocus ng-model="palpite.descricao">
                                </div>

                                <div class="form-group col-md-5" >
                                </div>
                                <div class="form-group col-md-2" >
                                        <input type="button" class="btn btn-lg btn-primary btn-large" value="Adicionar Palpite" ng-click="adicionarPalpite()">
                                </div>
                        </fieldset>
                </div>

                <table class="table table-bordered" ng-show="aposta.palpites.length > 0">
                        <thead>
                                <tr>
                                        <th>Nome</th>
                                        <th>Palpite</th>
                                        <th>Ações</th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr ng-repeat="pal in aposta.palpites">
                                        <td>{{pal.usuario.nome}}</td>
                                        <td>{{pal.descricao}}</td>
                                        <td>
                                                <input type="button" class="btn btn-lg btn-danger" value="Remover" ng-click="removerPalpite($index)" ng-hide="apostaFinalizada()">
                                                <input type="button" class="btn btn-lg btn-info" value="Declarar Vencedor" ng-click="declararVencedor($index)" id="bt_vencedor_{{$index}}" ng-show="!pal.venceu && !apostaFinalizada()">
                                                <input type="button" class="btn btn-lg btn-primary" value="Desfazer Vencedor" ng-click="desfazerVencedor($index)" id="bt_rem_vencedor_{{$index}}" ng-show="pal.venceu && !apostaFinalizada()">
                                        </td>
                                </tr>
                        </tbody>
                </table>

                <fieldset ng-show="aposta.palpites.length > 0">
                        <div class="form-group col-md-5" >
                        </div>
                        <div class="form-group col-md-2" >
                                <input type="submit" class="btn btn-lg btn-success btn-large" value="Salvar Aposta" ng-hide="apostaFinalizada()">
                        </div>
                </fieldset>
        </form>
        
</div>